{% extends "admin/base_site_nav.html" %}
{% load i18n %}

{% block extrahead %}
{{block.super}}

<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content_title %}
<div class="row mt-3">
    <div class="col">
        <h1>{{title|capfirst|force_escape}}&nbsp;&nbsp;<small>{{edition|capfirst}}</small></h1>
    </div>
    <div class="col-auto d-flex ms-auto align-items-center">
        <h1></h1>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>PLACEHOLDER FOR THE GANTT CHART</h1>
{% endblock %}
