<html>
    <head>
        <title>Timeline | editing | itemsAlwaysDraggable Option</title>
        <meta charset="utf-8">

         <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
         <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />

    </head>
   <body>

<p>An editable timeline allows to drag items around, create new items, and remove items. Changes are logged in the browser console.</p>

<div id="visualization"></div>

<script>
  // create a dataset with items
  // we specify the type of the fields `start` and `end` here to be strings
  // containing an ISO date. The fields will be outputted as ISO dates
  // automatically getting data from the DataSet via items.get().
  var items = new vis.DataSet({
    type: { start: 'ISODate', end: 'ISODate' }
  });


  var groups = new vis.DataSet([
    {id: 1, content: 'Resource 1'},
    {id: 2, content: 'Resource 2'},
    {id: 3, content: 'Resource 3'}

  ]);
  // add items to the DataSet
  items.add([
    {id: 1, content: 'item 1', start: '2014-01-21', end: '2014-01-23', group: 1},
    {id: 2, content: 'item 2', start: '2014-01-21', end: '2014-01-24', group: 1},
    {id: 3, content: 'item 3', start: '2014-01-21', end: '2014-01-25', group: 1},
    {id: 4, content: 'item 4', start: '2014-01-19', end: '2014-01-24', group: 2},
    {id: 5, content: 'item 5', start: '2014-01-28', end: '2014-01-24', group: 2},
    {id: 6, content: 'item 6', start: '2014-01-26', end: '2014-01-24', group: 3}
  ]);

  // log changes to the console
  items.on('*', function (event, properties) {
    console.log(event, properties.items);
  });

  var container = document.getElementById('visualization');
  var options = {
    start: '2014-01-10',
    end: '2014-02-10',
    height: '300px',
    // allow selecting multiple items using ctrl+click, shift+click, or hold.
    multiselect: true,
    // allow manipulation of items
    editable: true,
    /* alternatively, enable/disable individual actions:
    editable: {
      add: true,
      updateTime: true,
      updateGroup: true,
      remove: true
    },
    */
    showCurrentTime: true
  };
  var timeline = new vis.Timeline(container, items, options);
  timeline.setGroups(groups)
</script>



</body>
</html>